:root{
  --mainGreen:#3FE0D0;
  --lightGreen:#B3FFBF;
  --mainWhite:#FFFF;
  --mainDark:#152127;
  --mainYellow:#F7C900;
  --mainBlue:#31A1B6;
  --lightBlue:#3FE0D0;
  --pitch:#E68B7B;
  --royalBlue:#9B0041;
  --mainBrown:#4C3B23;

}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  }
  .text-title{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.text-green{
  color: var(--mainGreen);
}
.text-bright{
  color: var(--mainBlue);
}
.text-blue{
  color: var(--mainBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}